h1 {
    text-align: center;
    font-size: 50px;
}


h2 {
    font-size: 37.5px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

li {
    font-size: 20px;
}

footer {
    text-align: center;
    background-color: darkgray;
    padding: 1%;
}

* {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
}

nav a {
    color: white;
    background: #556b2f;
    font-weight: bold;
    display: block;
    padding: 15px;
    font-size: 3vw;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background: darkgray;
}

img {
    width: 100%;
    height: auto;
}

@media (min-width: 480px) {
    nav ul {
        display: flex;
    }
    nav li {
        flex: 1 1 auto;
    }
}

@media only screen and (min-width: 768px) {
    nav a {
        font-size: 20px;
    }
}

/* Flex */ 
.container-homepage-about {
    display: flex;
}

.box-1 {
    flex: 1;
    padding: 3%;
}

.box-2 {
    flex: 2;
    padding: 3%;
    align-self: center;
}

/* Homepage - Testimonial */
.container-homepage-testimonials {
    display: flex;
    text-decoration: aqua;
}

.testimonial-title {
    text-align: center;
}

.testimonial-1 {
    flex: 1;
    padding: 3%;
}

.testimonial-2 {
    flex: 1;
    padding: 3%;
}

.testimonial-3 {
    flex: 1;
    padding: 3%;
}

/* Homepage: Sponsors */
.container-homepage-sponsors {
    display: flex;
    align-items: center;
}

.sponsor-1 {
    flex: 1;
    padding: 3%;
}

.sponsor-2 {
    flex: 1;
    padding: 3%;
}

.sponsor-3 {
    flex: 1;
    padding: 3%;
}

.sponsor-4 {
    flex: 1;
    padding: 3%;
}

/* Contact: Map */
.container-contact-info {
    display: flex;
}

.basic-contact {
    flex: 1;
    padding: 5%;
}

.map {
    flex: 1;
    padding: 5%;
}

/* Offers */
.container-offers {
    display: flex;
    align-items: start;
}

#offer-1 {
    flex: 1;
    padding: 3%;
}

#offer-2 {
    flex: 1;
    padding: 3%;
}

#offer-3 {
    flex: 1;
    padding: 3%;
}

#block {
    width: 25em;
    height: 25em;
    background-color: blue;
}